*{
	margin: 0;
	padding: 0;
	outline: 0;
}

.body {
	font-family: 'Poppins', sans-serif;
}
/*========================
	Welcome-section
==========================*/

a.nav-link {
    color: #242f51 !important;
    font-size: 16px;
    font-weight: 500;
}

a.navbar-brand img {
    width: 70%;
}

.slider-area {
	background-image: url(img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 900px;
}

.slider-area-table {
    display: table;
    width: 100%;
    height: 900px;
}

.slider-area-table {
    display: table-cell;
    vertical-align: middle;
}

.header-sec {
    padding: 20px 0px;
    background: none;
}

.no-one-line {
    overflow: hidden;
    display: inline-block;
    background-color: #e2eaed;
    padding-right: 10px;
    border-radius: 20px;
}

.no-one-img img {
    width: 70%;
}

.no-one-img {
    float: left;
}

.no-one-p p {
    color: #242f51 !important;
    font-size: 18px !IMPORTANT;
    font-weight: 400;
    margin: 0;
    width: 100% !important;
}

.no-one-p {
    float: left;
}

.slider-area-text h2 {
    color: #242f51;
    font-size: 60px;
    font-weight: 600;
}

.slider-area-text p {
    color: #242f51;
    font-size: 18px;
    width: 90%;
}

button.btn-1, .btn-nav {
    font-size: 16px;
    font-weight: 700;
    border: none;
    display: inline-block;
    color: #fff;
    background-color: #2500FC;
    border: 1px solid #2500FC !important;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .5s all ease;
}

button.btn-1:hover {
    background-color: snow;
    color: #2500FC;
    border-radius: 30px;
}

.btn-nav:hover {
    background-color: snow;
    color: #2500FC;
    border-radius: 30px;
}

button.btn-2:hover {
    font-size: 18px;
}

button.btn-2 {
    color: #2500f9;
    border: none;
    background-color: snow;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-left: 25px;
	transition: .5s all ease;
}

button.btn-nav {
    margin-left: 100px;
}

/*========================
		brand-slider
========================*/

.brand-slider {
	padding: 60px 0px;
}

.owl-post-single img {
    width: 30% !important;
    text-align: center !important;
    margin: 0 auto;
}

.brand-text p {
    color: #242f51;
    font-size: 16px;
    font-weight: 500;
}

.brand-text {
    margin-bottom: 30px;
}

.marg-t {
    margin-top: 25px;
}

/*=========================
		feature-sec
==========================*/

.feature-sec { 
	padding: 60px 0px;
}

.sec-img-sec img {
    width: 85%;
}

.sec-text-sec h2 {
    color: #242f51;
    font-size: 36px;
    font-weight: 600;
    width: 50%;
}

.sec-text-sec p {
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    width: 60%;
}

.post-single {
    overflow: hidden;
	margin-bottom: 20px;
}

.post-img {
    float: left;
    width: 15%;
}

.post-img img {
    width: 70%;
    margin: 25px 0px;
}

.post-text {
    float: left;
    width: 80%;
}

.post-text h2 {
    font-size: 20px;
    font-weight: 700;
}

.post-text p {
    color: #616368;
    font-size: 16px;
    font-weight: 400;
}

.sec-post {
    margin-top: 60px;
}

.smart-cont-2 p {
    color: #616368;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
	padding-left: 38px;
}

.smart-cont h2 {
    color: #242f51;
    font-weight: 700;
    width: 59%;
    margin-left: auto;
    padding-right: 15px;
}

.smart-cont {
    border-right: 1px solid #242f51;
}

.feature-bottom-post {
    margin-top: 70px;
}

.bottom-post-img img {
    width: 20%;
}

.feature-bottom-post h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.feature-bottom-post p {
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    margin-top: 5px;
	color: #616368;
}

.smart-cont-2 {
    padding: 15px 0px;
}

.padd {
    padding: 15px 0px;
}

h2.pink-clr {
    color: #f55767;
}

h2.blu-clr {
    color: #2563ff;
}

h2.grn-clr {
    color: #40975f;
}


/*========================
	 integration-sec
=========================*/

.integration-sec{
	padding: 70px 0px;
}

.sec-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.sec-table {
    display: table;
    width: 100%;
    height: 490px;
}

/*=====================
	key-feature-sec
======================*/

p.parra {
    margin: 0 auto;
}

h2.clr {
    color: #242f51;
}

.key-feature {
	padding: 70px 0px;
}

/*======================
	unlimited feature
======================*/

.post-row {
    overflow: hidden;
}

.post-row-single {
    float: left;
    width: 50%;
}

.marg-img {
    margin-top: 145px;
}

.unlimited-feature {
	padding: 60px 0px;
}


.button-section {
    padding: 20px 0px;
}

.marg-img img {
    width: 100% !important;
}

.title-sec h2 {
    font-size: 36px;
    color: #242f51;
    font-weight: 700;
    display: inline-block;
    width: 35%;
}

.title-sec p {
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    width: 50%;
    margin: 14px auto;
}

/*========================
		pricing-sec
========================*/

.pricing-sec {
	padding: 60px 0px;
}

.title-sec h2 {
    font-size: 36px;
    color: #242f51;
    font-weight: 700;
    display: inline-block;
    width: 35%;
}

.title-sec p {
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    width: 50%;
    margin: 14px auto;
}

.toggle {
    font-size: 16px;
    text-align: center;
    background-color: snow;
    padding: 8px 0px;
    border-radius: 30px;
    border: 1px solid #999ca5;
    color: #999ca5;
    position: relative;
    transition: .5s all ease;
    z-index: 1;
}

.btn-sec {
    margin-top: 20px;
}

.toggle button {
    background: none;
    border: none;
    padding: 0px 18px;
    text-transform: capitalize;
    font-weight: 500;
	color: #999ca5;
	transition: .5s all ease;
}
.toggle button:hover {
	color: #fff;
}

.toggle:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #2500f9;
    width: 100px;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
	transition: .5s all ease;
}

.toggle:focus-within:before {
    left: 93px;
	color: #fff;
}

.pricing-post {
    text-align: center;
    border: 1px solid #999ca5;
    margin-top: 60px;
    box-shadow: 1px 1px 15px 1px #000;
    padding: 40px 0px;
    border-radius: 5px;
}

.pricing-upper-sec {
    background: linear-gradient(180deg, transparent, #ededed);
    padding: 8px 0px;
}

.pricing-post-heading h2 {
    font-size: 60px;
    color: #242f51;
    font-weight: 600;
}

.pricing-post-heading h2 span {
    color: #999ca5;
    font-size: 16px;
}

.pricing-name h2 {
    font-size: 20px;
    color: #242f51;
    font-weight: 700;
}

.pricing-name p {
    font-size: 16px;
    font-weight: 400;
    color: #999ca5;
}

.pricing-single p {
    font-size: 16px;
    font-weight: 400;
    color: #999ca5;
    transition: .5s all ease;
}

.pricing-lower-sec {
    padding: 35px 0px;
}

.marg-btn-pb {
    margin-left: 0px !important;
    margin-top: 14px;
}

.pricing-single p:hover {
    margin-left: 10px;
}

/*===========================
		product-sec
===========================*/

.product-sec {
	padding: 60px 0px;
}

ul.icon {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

ul.icon li {
    display: inline-block;
}

ul.icon li i {
    color: #ffcc00;
}

.product-post h2 {
    color: #242f51;
    font-size: 20px;
    font-weight: 700;
}

.product-post p {
    width: 80%;
	margin-bottom: 40px;
}

.pro-slide-item {
    overflow: hidden;
}

.slide-img img {
    width: 100%;
    border-radius: 50%;
}

.slide-img {
    float: left;
    width: 20%;
}

.slide-cont {
    float: right;
    width: 70%;
    margin: 35px 0px;
}

.slide-cont h2 {
    font-size: 18px;
    font-weight: 700;
    color: #242f51;
}

.slide-cont p {
    font-size: 18px;
    font-weight: 400;
    color: #616368;
}

span.carousel-control-next-icon i {
    color: #000 !important;
    border: 1px solid #000;
    padding: 7px 8px;
    border-radius: 50%;
}

h2.wid-pb-1 {
    width: 70%;
}

h2.wid-pb-2 {
    width: 60%;
}

/*=========================
		question-sec
=========================*/

.question-sec {
	padding: 60px 0px;
}

p.heading-q {
    color: #242f51;
    font-size: 20px;
    font-weight: 700;
}

button.accordion-button {
    background-color: #f5f7fa;
}

.accordion-body {
    background-color: #f5f7fa;
}

p.parra-q {
    font-size: 16px;
    font-weight: 400;
    color: #616368;
}

div#accordionPanelsStayOpenExample {
    margin-top: 70px;
}


.accordion-button:not(.collapsed) {
     color: none;
     background-color: none;
     box-shadow: none;
}

p.parra-pb-1 {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.play-store {
    display: flex;
    margin-top: 30px;
}

.play-store-post img {
    width: 80%;
}

/*======================
		footer-sec
======================*/

.footer-sec {
	padding: 60px 0px;
	background-color: #09142e;
	margin-top: -37px;
}

.footer-cont a img {
    width: 8%;
}

ul.ftr-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.ftr-nav li {
    display: inline-block;
    padding: 0px 30px;
    margin: 30px 0px;
}

ul.ftr-nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition: .5s all ease;
}

ul.ftr-icon {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.ftr-icon li {
    display: inline-block;
    padding: 0px 25px;
}

ul.ftr-icon li a {
    color: #273043;
    font-size: 20px;
    transition: .5s all ease;
}

ul.ftr-icon li a:hover {
    color: #fff;
}

ul.ftr-nav li a:hover {
    color: #273043;
}

.footer-cont p {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    margin-top: 30px;
}












